# ignore github actions
.github

# ignore test folder
test/

# ignore licenses
third-party/

# ignore documentation
docs/

# ignore documentation
cicd/

# ignore samples
samples/

# other files
README.md
CONTRIBUTING.md
downloadLatest.sh
