# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.zip
integrationcli
.DS_Store

# VSCode
.vscode/launch.json

# binaries
dist/

!test/*.json
!test/*.yaml
!test/*.zip
!test/*.txt
!cmd/integrationcli*
!internal/integrationcli*
